#Esempio, aggiusta secondo il tuo path e i tuoi dati
from pathlib import Path

APP_TITLE = "PortfolioPilot"

# Define colors for benchmark and portfolio
BENCHMARK_COLOR = 'rgba(250, 128, 114, 0.7)'
PORTFOLIO_COLOR = 'rgba(135, 206, 250, 0.7)'

SERVER_HOST = '0.0.0.0'
SERVER_PORT = 80


DATA_PATH = Path("data")
INDEX_LIST_FILE_PATH = DATA_PATH / "Index_list_cleaned.csv"
ETF_BASE_PATH = DATA_PATH / "ETFs"
DEV_FIVE_FACTORS_FILE_PATH = DATA_PATH / "Developed_5_Factors.csv"
